* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
}

.left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 20%;
    

}

.right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}



button {
    background: #9499EA;
    width: 269px;
    height: 62px;
    color: white;
    border-radius: 50px;
    border: none;
    line-height: 36px;
    font-size: 24px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    cursor: pointer;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}
.image {
    position: relative;
    top: 25%;
    right: 117px;
}

p {
    color: #5D5D7D;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    width: 540px;
    opacity: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    color: #5D5D7D;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
    
}

a {
    color: #5D5D7D;
    line-height: 41px;
    font-size: 28px;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px) {
    .left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .right {
        display: block;
        height: auto;
        width: 100%;
        position: static;  
        padding: 40px;
    }

    .image {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        width: auto;
        margin: 58px 50px 0 50px;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}